# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Understand how to use markdown cells in Jupyter notebooks
- Convert minutes to hours using Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: `3 + 2` evaluates to `5`
2. Subtraction: `3 - 2` evaluates to `1`
3. Multiplication: `3 * 2` evaluates to `6`
4. Division: `3 / 2` evaluates to `1.5`

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
hours

3.3333333333333335

## Author

Adityan Chanduruthil